h1{
    font-family: 'Roboto', sans-serif;
    color:red
}

.box{
    width: 300px;
    height: 300px;
    background-image: url(../../img/deadpool.jpg);
    border-radius: 10%;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.box p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:aliceblue;
}
.box span{
    color:orange;
}

.red {
    color: red;
}

/* pixeles absoluto/*
/*vh responsivo/*
/* % es porcentual*/

nav{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    margin: 20px;
}

.lista {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
.lista li{
    margin-right: 20px;
    list-style: none;

}

.lista li a{
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center;
    /*flex-direction para darle direccion */
    /* justify-content: space-around; between; evenly para darle margen igual */

}

.articulos{
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    background-color: green;
}

.articulo{
    margin: 10px;
    width: 250px;
    height: 250px;
    background-color: green;
    }

.dimension{
    width: 300px;
    height: 300px;
    margin: 2px;
}
.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.orange {
    background-color: orange;
}